<div class="listagem">
    <h1>Projetos</h1>
    <form action="submit" class="form-group">
        <div class="container-fluid">
            <div class="row">
                <select name="ufSelect" id="ufSelect" class="form-control col-md-2">
                    <option value="">UF</option>
                </select>
                <select name="cidadeSelect" id="cidadeSelect" class="form-control col-md-2">
                    <option value="">Cidade</option>
                </select>
                <select name="odsSelect" id="odsSelect" class="form-control col-md-2">
                    <option value="">ODS</option>
                </select>
            </div>
            <div class="row">
                <input type="text" placeholder="Nome" id="nomeInput" class="form-control col-md-2">
            </div>
        </div>

    </form>
</div>