
<h1>Projetos</h1>
    <div class="container-fluid">
        <div class="row">
            <select name="ufSelect" id="ufSelect" class="form-control col-md-2" onchange="listaCidades()">
                <option value="" hidden>UF</option>      
            </select>
            <select name="cidadeSelect" id="cidadeSelect" class="form-control col-md-2">
                <option value="" hidden>Cidade</option>
            </select>
            <select name="odsSelect" id="odsSelect" class="form-control col-md-2">
                <option value="" hidden>ODS</option>
                <% for (let i = 0; i < ods.length; i++) { %>
					<option value="<%= ods[i].id %>"><%= ods[i].nome %></option>
				<% } %>
            </select>
        </div>
        <div class="row">
            <input type="text" placeholder="Nome" id="nomeInput" class="form-control col-md-2">
        </div>
        <div class="row">
            <input type="button" value="Filtrar" id="botaoFiltrar" class="form-control col-md-2">
        </div>
    </div> 


<div id="listagem">
</div>    

<script>
    let ufSelect = document.getElementById("ufSelect");
    let cidadeSelect = document.getElementById("cidadeSelect");
    let odsSelect = document.getElementById("odsSelect");

    let divListagem = document.getElementById("listagem");

    listaEstados();
    listaOds();
    

    let botaoFiltrar = document.getElementById("botaoFiltrar");
    botaoFiltrar.onclick = async function(){
         let responseProjetos = await fetch("/api/projeto/listar?idestado=" + 
         encodeURIComponent(ufSelect.value) + 
         "&idcidade=" + 
         encodeURIComponent(cidadeSelect.value) + 
         "&idods=" + 
         encodeURIComponent(odsSelect.value));

        let listaProjetos = await responseProjetos.json();

        divListagem.innerHTML = ""

        listaProjetos.forEach(projeto => {
            divListagem.innerHTML += 
            `<h1>${projeto.nome}</h1>
            <p>Autor(es): ${projeto.autor}</p>
            <p>Estado: ${projeto.sigla}`
        });

    }  

   async function listaEstados() {
        
        let responseEstados = await fetch("/api/estado/listar");

        let listaEstados = await responseEstados.json();

        listaEstados.forEach(estado => {
            ufSelect.innerHTML += 
            `<option value="${estado.id}">${estado.sigla}</option>`
        })
    }
    async function listaCidades(){
        let responseCidades = await fetch("/api/cidade/listar?idestado=" + encodeURIComponent(ufSelect.value));
        let listaCidades = await responseCidades.json();

        cidadeSelect.innerHTML = '<option value="" hidden>Cidade</option>';

        listaCidades.forEach(cidade => {
            cidadeSelect.innerHTML += 
            `<option value="${cidade.id}">${cidade.nome}</option>`
        })

    }
    async function listaOds(){
        let responseOds = await fetch("/api/ods/listar");
        let listaOds = await responseOds.json();

        listaOds.forEach(ods => {
            odsSelect.innerHTML +=
            `<option value="${ods.id}">${ods.nome}</option>`
        })
    }  
</script>